.image-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #36454f;
}

.image-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
}
.image-tab button:hover{
    background-color: #5e7788;
}

.image-tab button.active{
    background-color: #232527;
}

.tab-content{
    display: none;
    padding: 6px 12px;
    border: 3px solid #36454f;
    border-width: thin medium medium;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    background-color: #fffffa;
}

img {
    max-width: 500px;
    max-height: 700px;
    width: auto;
    height: auto;
}
.submit {
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    background-color:#bdfbfb;
    width: 75px;
    height: 20px;
    border-radius: 5px;    

}
.image-content{
    padding-right: 10%;
}
.parsed{
    padding-right: 2%;
}
.submit-ocr{
    background-color: lightgreen;
}
.left-bar.info-bar{
    border-left: 6px solid #2196F3;
    background-color: #bdfbfb;
}
.left-bar.danger-bar{
    border-left: 6px solid #f32121;
    background-color: #fbbdbd;
}
.bar-container{
    height: 58.8px;
    margin-bottom: 10px;
    padding: 0.01em 16px;
}
.progress-bar{
    margin-top: 10px;
    background-color: rgb(239, 239, 239);
    width: 100%;
    line-height: 25px;
    border-radius: 25px;
}
.progress{
    line-height: 25px;
    border-radius: 25px;
    background-color: #2196F3;
    color: whitesmoke;
    width: 0%;
    transition: .4s linear;
    transition-property: width, background-color;
    text-align: center;
}
