.image-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #36454f;
}

.image-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
}
.image-tab button:hover{
    background-color: #5e7788;
}

.image-tab button.active{
    background-color: #232527;
}

.tab-content{
    display: none;
    padding: 6px 12px;
    border: 3px solid #36454f;
    border-width: thin medium medium;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    background-color: #fffffa;
}

img {
    max-width: 500px;
    max-height: 700px;
    width: auto;
    height: auto;
}
.submit {
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    background-color:#bdfbfb;
    width: 75px;
    height: 20px;
    border-radius: 10%;    

}
.image-content{
    padding-right: 10%;
}
.parsed{
    padding-right: 2%;
}
.submit-ocr{
    background-color: lightgreen;
}